
@charset "UTF-8";

body{
background-color:#8FBC8F";
}

header{
    height: 20%;
    display:block;
    text-align: center;
    background-color:#337ccf;
    margin:8px;
}    
/* index*/
.links{
display:block;
float:right;
background-color: #8FBC8F;
color:crimson;
font-size: 15px;
margin:5px 5px;
}

#li{
list-style-type: none;
float:left;
padding: 5px 5px;
color:black;
font-family: Arial;
text-decoration: none;

}


li:hover{
    background-color:#07b94b;
    color:black;
}

.plano_fundo{
display: flex;
padding: 10px;
margin: 10px;
gap:10px;
border-radius: 50px;


}

.MENU{
font-size:  20px;
font-family:arial;
font-style: inherit;
color:darkred;
padding-bottom: 10 px;
padding-top: 10 px;
margin-top: -50px;
margin-right: 600px;
margin-left: 60px;
text-align: left;

}

.itens_menu{

display:flex;
gap: 50px;
padding-right:10px;
padding-left: 10px;
margin-left: 50px;
margin-right: 10px;
position:relative;
width:30%;

font-family:'Times New Roman';
text-align: left;

text-align: justify;

word-spacing: 20%;
line-height: 20px;

}

.subtitulo{
text-align: center;
font-size: 15px;
font-family: Arial;
}

.Sobre{
font-size:  15px;
font-family: Arial;
margin: 20px 60px;
text-align: left;
padding: 10px;
position: relative;
display:flex;


}

.Sobre_nós{
font-family:'Times New Roman';
text-align: right;
text-align: justify;
word-spacing: 20%;
line-height: 20px;
margin-left: 370px;
margin-top: -220px;
margin-right: 80px;
margin-bottom: 80px;

}
#sob{
    margin-left: 60px; 
    margin-top: 10px;
    width: 300px; 
    height: 200px;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.Contato{
font-size: 15px;
font-family: Arial;
padding: 20px;
margin-left: 60px ;
margin-bottom: 50px;
margin-top: 80px;



}

.ifood{

font-size: 15px;
font-family: arial;
padding: 10 px;
margin-left:70px ;
}

/*O bloco3 está no Suco e Vitaminas*/
.bloco3{
text-align:center ;
font-size: 15px;
font-family: Arial;
margin: auto;
} 
.bloco3_1{
text-align:center;
font-size: 17px;
font-family: Arial;
padding: 10px;

}
/*O bloco2 está no Purê de frutas*/
.bloco2{

text-align:center;
font-size:15px ;
font-family: arial;
margin: auto;
}

.bloco2_1{
font-size: 17px;
font-family: Arial;
text-align: center;
padding: 10px;
}

/* O bloco1 está no Sopas*/
.bloco1{
text-align: center;
font-size: 15px;
font-family: Arial;
margin: auto;
width:400px ;
height:300px;
}
.bloco1_2{
text-align: center;
font-size: 17px;
font-family: Arial;
padding: 10px;
}
/*Rodapé*/
.Créditos
{
text-align: center;
font-size: 15px;
font-family: 'Times New Roman';
}

.Rodapé{
background-color:#c3d5f6;
line-height:40px ;
text-align: center;
font-size: 20px;
font-family: Arial;

}

@media screen and (max-width:720px) {
.subtitulo{
    
    text-align: center;
    font-size: 10px;
}
.MENU{
    font-size: 15px;
    text-align: center;
    margin-left: 330px;
    margin-top: 5px;
}
.itens_menu{

display:table-cell;
text-align: center;
position: relative;

}
#li{
display: none;
}
.Sobre{
display: block;
text-align: center;
}
.Sobre_nós{
display:block;
margin:0px 180px;
}
#sob{
    display:block;
    text-align: center;
  margin: 5px 200px;
}
.Contato{
    text-align: center;
}
#maps{
    width: 300px;
    height: 250px;
    margin-bottom: 2px;
    padding: 5px;
}
.ifood{

   text-align:center;
}
.bloco1{
    text-align: center;
    display: block;
    font-size:10px;
    margin-left: 50px;
}
.bloco1_2{
    text-align: center;
    display: block;
    font-size: 12px;
}
.bloco2{
    text-align: center;
    display: block;
    font-size:10px;
    margin-left: 50px;
    width: 200px;


}
.bloco2_1{
    text-align: center;
    display: block;
    font-size: 12px;

}
.bloco3{
    text-align: center;
    display: block;
    font-size:10px;
    margin-left: 50px;

}
.bloco3_1{
    text-align: center;
    display: block;
    font-size: 12px;
}
.Rodapé{
margin-left: 10px;
}

}






